.snoo-loader,
.snoo-loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
}
.snoo-loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid var(--yt-primary-text-color);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.snootube-container {
  color: var(--yt-primary-text-color);
}
.snoo-tabs,.snoo-threads,.snoo-no-results,.snootube-post-body { display: none; }
.visible { display: block; }

.snoo-tabs.visible {
  display: flex!important;
  justify-content: space-between;;
}

.snootube-tab {
  flex: 1;
  height: 45px;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  /* border-bottom: 1px solid var(--yt-primary-text-color); */
  border-right: 1px solid var(--yt-primary-text-color);
  cursor: pointer;
  color: var(--yt-primary-text-color);
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 4px;
}
.snootube-tab:last-child {
  border-right: 0;
}
.snootube-tab .snootube-tab {
  border: 0;
  width: 100%;
}
.snootube-tab:not(.active):not(.snoo-dropdown):hover {
  background-color: #bbb;
}
[dark] .snootube-tab:not(.active):not(.snoo-dropdown):hover {
  background-color: #888;
}
.snootube-tab.active {
  border-bottom: 5px solid orangered;
  padding-bottom: 0;
  color: orangered;
  cursor: auto;
}

.snoo-dropdown {
  position: relative;
  flex: 0 0 40px;
  padding-bottom: 0;
}

.snoo-dropdown:before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 7px solid var(--yt-primary-text-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 19px;
}

.snoo-dropdown:hover {
  background-color: #eee;
}
.snoo-dropdown .snoo-dropdown-container {
  display: none;
  position: absolute;
  right: 0;
  top: 45px;
  list-style: none;
  margin: 0;
  padding: 1em;
  min-width: 20vw;
  text-align: left;
  background-color: #eee;
}

[dark] .snoo-dropdown .snoo-dropdown-container {
  background-color: #222;
}
[dark] .snoo-dropdown:hover {
  background-color: #222;
}

.snoo-dropdown:hover .snoo-dropdown-container {
  display: block;
}

.snoo-dropdown .snoo-dropdown-container .snootube-tab {
  text-align: left;
  height: 30px;
  padding-bottom: 0;
  border-radius: 3px;
}

.post-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1em;
}
.post-score {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 1em;
  text-align: center;
}
.post-title a {
  color: var(--yt-endpoint-color);
  font-size: 1.3em;
  line-height: 1.2em;
}
.snoo-comment .comment-content {
  padding: 10px 0;
  font-size: 14px;
}
.snoo-comment .comments {
  margin-left: 10px;
  border-left: 1px dashed white;
  padding-left: 10px;
}